<p>
  <strong>名前：</strong>
  <%= @student.name %>
</p>

<p>
  <strong>学籍番号：</strong>
  <%= @student.number %>
</p>
  <strong>メールアドレス：</strong>
  <%= @student.maile %>
</p>


    <a href="/students/index" style="background-color: #007bff; color: white; padding: 8px 12px;  border-radius: 4px;">戻る</a>